.home-header h1 {
  color: #767a81; /* Light gray for text */
  font-size: 3em;
}

.main-name {
  color: #829aaf; /* Light blue-gray for text */
}

.Typewriter__wrapper {
  font-size: 2.8em;
  color: #8f96a1; /* Light gray for text */
  font-weight: 600;
}

.Typewriter__cursor {
  font-size: 2.4em;
  color: #727579; /* Light gray for text */
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-card {
  margin-left: auto;
  margin-right: auto;
}

/* Apply digital-style background color to .card-header and .card-body */
.card-header,
.card-body {
  background-color: #939698; /* Dark blue-gray for the background */
  color: #f7f7f7; /* Light gray for text */
  margin: auto;
  display: flex;
  justify-content: center;
}
