.home-header h1 {
  color: #f5f5f5; /* Update text color */
  font-size: 3em;
}

.main-name {
  color: #F6F2D4; /* Update text color */
}

.Typewriter__wrapper {
  font-size: 2.8em;
  color: #f5f5f5; /* Update text color */
  font-weight: 600;
}

.Typewriter__cursor {
  font-size: 2.4em;
  color: #f5f5f5; /* Update text color */
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-card {
  margin-left: auto;
  margin-right: auto;
}

/* Apply the background color to .card-header and .card-body */
.card-header,
.card-body {
  background-color: #263238;
  color: #f5f5f5;
  margin: auto;
  display: flex;
  justify-content: center;
}
