.wrapper {
  margin: 2rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  justify-content: center;
}

.card {
  background: linear-gradient(to bottom, #f0f3f2, #FFFFFF, #0b140b); /* Gradient with Mexican flag colors */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease;
  border: none;
  z-index: 1;
  position: relative;
  top: 0;
  text-align: left;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  top: -0.3rem;
}

.card__img {
  width: 100%;
  object-fit: cover;
  background-size: 105% auto;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.6s ease;
  height: 11.8rem;
}

.card:hover .card__img {
  background-size: 100% auto;
}

.card__body {
  margin: 2rem 1rem 2rem 1rem;
  flex-grow: 1;
  height: fit-content;
}

.card__title {
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
  color: #FFFFFF; /* White text color */
}

.card__description {
  line-height: 1.5rem;
  padding-bottom: 5px;
  color: #FFFFFF; /* White text color */
}

@media screen and (max-width: 499px) {
  .card__img {
    height: 9rem;
  }
}

.card__line {
  border-top: 1px dotted #FFFFFF; /* White dotted line */
  background: #FF0000; /* Red background color */
  width: 90%;
  margin: auto;
  position: absolute;
  bottom: 2.7rem;
}

.card__btn {
  transition: 0.2s;
  color: #FFFFFF; /* White text color */
  padding-right: 1rem;
}

.card__btn:hover {
  color: #009000; /* Green text color on hover */
  transform: scale(1.2);
}

.card__footer {
  display: inline;
  padding-right: 20px;
  padding-left: 0;
  list-style: none;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.card__footer li {
  display: inline-flex;
  color: #FFFFFF; /* White text color */
}
