.wrapper {
  margin: 2rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  justify-content: center;
}

.card {
  background: linear-gradient(to bottom, #000000, #7e7c7c, #0b140b);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease;
  border: none;
  z-index: 1;
  position: relative;
  top: 0;
  text-align: left;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  top: -0.3rem;
}

.card__img {
  width: 100%;
  object-fit: cover;
  background-size: 105% auto;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.6s ease;
  height: 11.8rem;
}

.card:hover .card__img {
  background-size: 100% auto;
}

.card__body {
  margin: 2rem 1rem 2rem 1rem;
  flex-grow: 1;
  height: fit-content;
}

.card__title {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
  color: #FFFFFF;
}

.card__description {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-bottom: 5px;
  color: #FFFFFF;
}

@media screen and (max-width: 499px) {
  .card__img {
    height: 9rem;
  }
}

.card__line {
  border-top: 1px dotted #FFFFFF;
  background: #FF0000;
  width: 90%;
  margin: auto;
  position: absolute;
  bottom: 2.7rem;
}

.card__btn {
  transition: 0.2s;
  color: #FFFFFF;
  padding: 0rem 0.5rem; /* Adjust the padding here */
}

.card__btn:hover {
  color: #10df10;
  transform: scale(1.2);
}

.card__footer {
  display: inline;
  padding-right: 20px;
  padding-left: 0;
  list-style: none;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.card__footer li {
  display: inline-flex;
  color: #FFFFFF;
}

.card__completion-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: #0e810e;
  color: white;
  font-weight: bold;
  text-transform: lowercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 30px;
  border-radius: 70%;
  bottom: 0;
  font-size: 0.8rem;
}

.in-progress {
  background-color: #49baa2;
  font-size: 0.8rem;
}
