.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding-left: 1rem;
}

.navbar {
  background-color: #ebf0f1;
  text-align: center;
  padding: 0.5rem 0;
}

.navbar-nav .nav-link {
  color: #333; /* Text color for non-hover state */
  padding: 1rem 1.5rem;

  /* Add a transition for the 'transform' property */
  transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-item {
  position: relative;
  margin-right: 2rem;
}

.navbar-nav .nav-item a:hover {
  background-color: #276678;
  border-radius: 5px;
  padding: 1rem 1.5rem;

  /* Increase the scale to create a bounce effect */
  transform: scale(1.1);
}

.toggle-icon {
  color: #333;
}

.navbar-toggler {
  padding: 0.5rem 1rem;
  position: relative;
  background-color: transparent;
  border: none;
  outline: 0;
  font-size: 1.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

span {
  margin-left: 1rem;
}
