/* Update the styling for skill icons */
.skill-icon {
  bottom: 0 !important;
  color: #f5f5f5;
  list-style-type: none;
  vertical-align: middle; /* Center-align the icons */
  align-items: center;
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
  text-align: center;
  background-color: #53575d; /* Dark blue-gray for the background */
  margin: 2.5rem;
  border-radius: 25px;
}

/* Adjust font size and text alignment for secondary skill icons */
.sec-skill-icon {
  font-size: 1em;
  text-align: center;
}

/* Align text and set background color for skill headings */
.main-skills-h1,
.complementary-skill-h1 {
  width: 100%;
  text-align: center !important; /* Center-align the text */
  color: #f5f5f5 !important; /* Set the text color to white */
  background-color: #c0cbd0;
  padding: 5px;
}



/* Adjust padding for skill icons container */
.skill-icons {
  padding: 10px 0; /* Adjust padding */
}

/* Adjust top margin for skill icon text */
.skill-icon-text {
  margin: 0;
  margin-top: 0.6rem;
}

/* Add styles for center-aligned text */
.center-text {
  text-align: center;
  margin: 2rem 0; /* Adjust the margin as needed */
  color: #000000;
}
