/* Change the background color and adjust padding for the entire application */
.App {
  position: relative;
  min-height: 100vh;
  background-color: #525d6c; /* Dark blue-gray for the background */
  padding-bottom: 6rem;
  color: #B8C2D1; /* Light gray for text */
}

/* ... (rest of your existing styles) */
