/* Import the Google Fonts at the beginning */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@250;300&display=swap');

/* Apply styles to the entire page */
body {
    margin: 0;
    font-family: "Raleway", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #99A799;
}

/* Set a maximum width for elements with class "about-card" */
.about-card {
    max-width: 1200px;
    width: 90%;
}

/* Apply responsive styles for smaller screens (max-width: 499px) */
@media screen and (max-width: 499px) {
    /* Adjust font size for the entire page */
    html {
        font-size: 0.8em;
    }

    /* Center-align headings with some padding */
    .heading {
        text-align: center;
        padding: 2rem 0 1rem;
    }

    /* Reduce font size and margin for elements with class "Typewriter" */
    .Typewriter {
        font-size: 0.6rem;
        margin-bottom: 2rem;
    }
}
